<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
        <script src="jquery.js"></script>
    </head>
    <body>
        <div>
            <h3 id="h3-name"><%= girl.name %></h3>
            <div class="div-control">
                <a href="#" id="a-pre">Trở lại</a>
                <a href="#" id="a-next">Tiếp</a>
            </div>
            <hr />
            <img src="<%= girl.image %>" alt="" width="300px" id="imgProfile">
            <hr />
            <div class="div-control">
                <a href="/like/<%= girl.id %>" id="a-like"><%= girl.like %> Like</a>
                <a href="#"><%= girl.dislike %> Dislike</a>
            </div>
        </div>
    </body>
    <script>
        let currentId = '<%= girl.id %>';

        $('#a-like').click((e) => {
            e.preventDefault();
            $.get('/xlike/' + currentId, likeNumber => $('#a-like').text(likeNumber + ' Like'));
        });

        $('#a-next').click((e) => {
            e.preventDefault();
            $.get('/api/hotgirl/' + (+currentId + 1), hotGirl => {
                const { id, name, like, dislike, image } = hotGirl;
                currentId = id;
                $('#h3-name').text(name);
                $('#a-like').text(like + ' Like');
                $('#imgProfile').attr('src', image);
            });
        });

        $('#a-pre').click((e) => {
            e.preventDefault();
            $.get('/api/hotgirl/' + (+currentId - 1), hotGirl => {
                const { id, name, like, dislike, image } = hotGirl;
                currentId = id;
                $('#h3-name').text(name);
                $('#a-like').text(like + ' Like');
                $('#imgProfile').attr('src', image);
            });
        });
    </script>
</html>
