<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="../">
        <title>Khoa Pham</title>
        <style>
            hr {
                visibility: hidden;
            }
            .div-control {
                display: flex;
                width: 300px;
                justify-content: space-between
            }
        </style>
        <script src="jquery.js"></script>
    </head>
    <body>
        <div>
            <h3><%= girl.name %></h3>
            <div class="div-control">
                <a href="/hotgirl/<%= girl.id - 1 %>">Trở lại</a>
                <a href="/hotgirl/<%= girl.id + 1 %>">Tiếp</a>
            </div>
            <hr />
            <img src="<%= girl.image %>" alt="" width="300px">
            <hr />
            <div class="div-control">
                <a href="/like/<%= girl.id %>" id="a-like"><%= girl.like %> Like</a>
                <a href="#"><%= girl.dislike %> Dislike</a>
            </div>
        </div>
    </body>
    <script>
        const id = '<%= girl.id %>';

        $('#a-like').click((e) => {
            e.preventDefault();
            $.get('/xlike/' + id, likeNumber => $('#a-like').text(likeNumber + ' Like'));
        });
    </script>
</html>